.tasks-list-item {
  cursor: pointer;
  transition: transform .1s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:nth-child(even) {
    background: #fff;
  }
  
  &:nth-child(odd) {
    background: #eee;
  }

  &:hover {
    transform: scale(1.01);
  }

  &__name {
    font-size: 22.5px;
    letter-spacing: .5px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  &__finish-date {
    font-size: 14.4px;
    color: #333;
    font-style: italic;
  }

  &__data {
    flex-grow: 1;
    height: 100%;
    padding: 15px 10px;
  }

  &__actions {
    min-width: 150px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 15px;
  }
}