.tasks-list {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 88%, rgba(196,196,196,1) 97%);

  &__container {
    width: 768px;
    height: 80vh;
    min-height: 600px;
    background: linear-gradient(135deg, rgba(240,250,242,.8) 3%, rgba(244,251,245,.5) 12%, rgba(255,255,255,.3) 38%, rgba(255,255,255,.2) 64%, rgba(237,245,252,.1) 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__top-panel {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}