.add-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  padding: 15px;

  &__field {
    width: 100%;
    min-width: 300px;
    padding: 6px 4px;
    background: transparent;
    border-radius: 3px;
    outline: none;
    border: .5px solid #333;

    &--textarea {
      min-height: 150px;
      resize: none;
    }
  }
}