.task-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
  padding: 15px;
  max-width: 400px;
  position: relative;

  &__name {
    font-size: 22px;
    color: #333;
    letter-spacing: .5px;
    font-family: sans-serif;
    margin-bottom: 5px;
  }

  &__date {
    font-style: italic;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 14.4px;
    color: #333;
    letter-spacing: .5px;
    font-family: sans-serif;
  }

  &__actions {
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__input {
    width: 100%;
    min-width: 300px;
    padding: 6px 4px;
    background: transparent;
    border-radius: 3px;
    outline: none;
    border: .5px solid #333;

    &--textarea {
      min-height: 150px;
      resize: none;
      min-width: 300px;
    }
  }
}