.modal {
  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.6);
    left: 0;
    top: 0;
  }

  &__wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 250px;
    min-width: 250px;
    border-radius: 5px;
    background: #dfdfdf;
    padding-top: 25px;
  }

  &__exit-button {
    cursor: pointer;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 10px;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;
      height: 15px;
      width: 2px;
      background: #333;
      transform-origin: center center;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}