.top-panel {
  &__dropdown-wrapper {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    height: 20px;
    align-items: center;
    color: #333;
  }

  &__dropdown {
    background: #f6f6f6;
    margin-left: 5px;
    min-width: 120px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    color: #333;
    position: relative;

    &:after {
      content: '';
      display: block;
      height: 7px;
      width: 7px;
      background: #333;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      position: absolute;
      right: 10px;
      top: 5px;
      transform: rotate(-135deg);
    }
  }

  &__dropdown-control {
    padding: 2px 12px;
  }

  &__dropdown-menu {
    min-width: 120px;
    background: #f6f6f6;
  }
}

.Dropdown-option {
  margin-left: 12px;
  padding: 6px 0;
  color: #333;
  
  &:hover {
    background: #f2f2f2;
  }

  &:not(:last-child) {
    border-bottom: 1px solid lightgrey;
  }
}