.action-button {
  padding: 4px 8px;
  font-size: 12.4px;
  letter-spacing: .5px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: #333;
  background: transparent;
  border: 1px solid #333;
  font-weight: 600;
  transition: all .3s ease-in;

  &:hover {
    background: #CFCFCF;
  }
}